#bord {
  width: 80%;
  height: 400px;
  margin: auto;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#player {
  width: 80%;
  height: 200px;
  margin: auto;
  margin-top: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.card {
  padding: 0.5rem;
  height: 100%;
}
.card img {
  max-width: 100%;
  max-height: 100%;
}
